[submodule "Assets/External/Submodules/Common"]
	path = Assets/External/Submodules/Common
	url = https://github.com/v-Demin/Common
	branch = main
[submodule "Assets/External/Submodules/Common_Plugins"]
	path = Assets/External/Submodules/Common_Plugins
	url = https://github.com/v-Demin/Common_Plugins
	branch = main
